<!DOCTYPE html>
<html>
  <head>
    <title>Express Translate | Login</title>
    <link href="/assets/express_translate/favicon.ico" type="image/x-icon" rel="icon">
    <%= stylesheet_link_tag    "express_translate/application", :media => "all" %>
    <%= javascript_include_tag "express_translate/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="express_translate_login_page">
    <div id="express_translate_body">
      <%= yield %>
    </div>
    
    <div id="notification"></div>
  </body>
</html>