<div id="rlang_body">
  <div class="header">
    <h1>RLang</h1>
    <a class="back" href="#"></a>
    <a class="add" href="#add"></a>
  </div>
  
  <div class="content">

  </div>
  
  <div class="footer">
    <div class="note">
      Note: ..............
      <br>
      Company: Rubify Technology
    </div>
  </div>
</div>