<div id="rlang_body">
  <div class="header">
    <h1>RLang</h1>
    <a class="back" href="#"></a>
    <a class="add" href="#add"></a>
  </div>
  
  <div class="content">
    <a class="lang" href="#">
      <span>English</span>
      <p>100%</p>
      <h5>1.302/1.302</h5>
    </a>
    <a class="lang" href="#">
      <span>Vietnamese</span>
      <p>96%</p>
      <h5>1.047/1.302</h5>
    </a>
  </div>
  
  <div class="footer">
    <div class="note">
      Note: ..............
      <br>
      Company: Rubify Technology
    </div>
  </div>
</div>