<div class='stage'>
	<div class='header'>ITranslate</div>
	<hr class='thin-grey' />
	<div class='instruction'>
		Double click on the cell that you want to translate and key in the translation then hit <b>Enter</b> to let it save. Press <b>Esc</b> to cancel. 
		<br/>
		<span style='color: #c00;'><u>Note</u>: Do not translate <b>%{...}</b> as it is a variable</span>
		<br/>
		For example: <b>%{count} months</b> in English should be translated to Vietnamese as <b>%{count} tháng</b>
		<br/>
		Some texts are repeated or not clear to you what that's about. In such a case, you can mouse over to the key icon to see some more explanation.
		<br/><br/>
	</div>
</div>