<!DOCTYPE html>
<html>
  <head>
    <title>Languages | Login</title>
    <%= stylesheet_link_tag    "rubify_languages/login", :media => "all" %>
    <%= javascript_include_tag "rubify_languages/login" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="rlang" class="login_page">
    <div id="rlang_body">
      <%= yield %>
    </div>
    
    <div id="notification"></div>
  </body>
</html>