<!DOCTYPE html>
<html>
<head>
  <title>ITranslate</title>
  <%= stylesheet_link_tag    "rubify_itranslate/application", :media => "all" %>
  <%= javascript_include_tag "rubify_itranslate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



</body>
</html>
