<!DOCTYPE html>
<html>
<head>
  <title>Languages</title>
  <%= stylesheet_link_tag    "rubify_languages/application", :media => "all" %>
  <%= javascript_include_tag "rubify_languages/application" %>
  <%= csrf_meta_tags %>
</head>
<body id="rlang">

<%= yield %>

</body>
</html>
