#notification {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#fff;
  text-align:center;
  line-height:40px;
  height:0px;
  font-size: 14px;
  text-shadow: 1px 1px 1px #333;
  background: rgba(0,0,0,0.5);
  transition: height 1s, background 1s;
  -webkit-transition: height 1s, background 1s;
  -moz-transition: height 1s, background 1s;
  z-index:10000;
  
  &.success {
    background: rgba(100,255,0, 0.4);
    height:40px;
  }
  &.error {
    background: rgba(255,0,0,0.4);
    height:40px;
  }
}