body#rlang {
  background: #e6e6e6; //url("background.png") repeat
  font-family: Tahoma, Arial;
  
  #rlang_body {
    width:90%;
    margin: 0px auto;
    
    .header {
      position:relative;
      float:left;
      width:100%;
      height: 50px;
      border-bottom:1px solid #999;
      
      a {
        opacity: 0.8;
        &:hover {
          opacity: 1;
        };
      }
      
      .back {
        position:absolute;
        left:0px;
        bottom: 8px;
        width:32px;
        height:32px;
        background: url("back.png") center no-repeat;
      }
      
      .add {
        position:absolute;
        left:50px;
        bottom: 8px;
        width:32px;
        height:32px;
        background: url("add.png") center no-repeat;
      }
      
      h1 {
        font-size: 25px;
        color: #c6c6c6;
        text-align:center;
        width: 200px;
        margin: 20px auto;
        text-shadow:1px 1px 1px #666;
      }
    }
    
    #info {
      float:left;
      width:100%;
      height: 30px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #999;
    }
    
    .content {
      float:left;
      width:100%;
      padding-bottom:100px;
      padding-top:20px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #999;
      
      .lang {
        position:relative;
        margin:10px;
        float: left;
        width: 130px;
        height: 130px;
        background: #3e94d1;
        border-radius: 80px;
        border:3px solid #fff;
        box-shadow:0px 0px 2px #888;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        transition:all 0.5s;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        
        &:hover {
          box-shadow:0px 0px 3px #665;
          background: #398ac4;
          p {display:none;}
          h5 {display:block;}
          h4 {display:block;}
          .remove {
            opacity:1;
            top:0px;
            right:0px;
          }
          .setting {
            opacity:1;
            top:0px;
            left:0px;
          }
          .set_origin {
            opacity:1;
            top:-20px;
          }
        };
        
        &.package{
          background:#009999;
                    
          &:hover {
            span {
              text-shadow: 0px 0px 1px #333;
            }
            &.multi:before {
              top: -1px;
              left: -1px;
            }
            &.multi:after {
              top: -1px;
              left: -1px;
            }

            .remove {
              opacity:1;
            }
            
            .setting {
              opacity:1;
            }
            
            h5 {display:none;}
  
            h6 {
              display:none;
              position:absolute;
              text-decoration:none;
              color:#fff;
              opacity:0.2;
              font-size: 16px;
              
              &.index_0 {
                display:block;
                bottom: 20px;
                left: 0px;
                width:100%;
                text-align:center;
                opacity:0.25;
              }

              &.index_1 {
                display:block;
                bottom: 50px;
                right: -20px;
                font-size:20px;
              }

              &.index_2 {
                display:block;
                bottom: 40px;
                left: -23px;
                font-size:33px;
                opacity:0.3;
              }

              &.index_3 {
                display:block;
                top: 12px;
                right: 10px;
                font-size:30px;
                opacity:0.15;
              }
            }
          };
          
          &.multi:before {
            content: "";
            display:block;
            width:100%;
            height:100%;
            background:#1D7373;
            position:absolute;
            border-radius: 100px;
            top: 3px;
            left: 1px;
            z-index:-1;
            border:3px solid #fff;
            opacity:0.6;
            transition: top 0.2s, left 0.2s;
            -moz-transition: top 0.2s, left 0.2s;
            -webkit-transition: top 0.2s, left 0.2s;
          }
          
          &.multi:after {
            content: "";
            display:block;
            width:100%;
            height:100%;
            background:#1D7373;
            position:absolute;
            border-radius: 100px;
            top: -7px;
            left: -5px;
            z-index:-1;
            border:3px solid #fff;
            opacity:0.6;
            transition: top 0.2s, left 0.2s;
            -moz-transition: top 0.2s, left 0.2s;
            -webkit-transition: top 0.2s, left 0.2s;
          }
          
          h6 {display:none;}
          
          .list_review {
            overflow:hidden;
            width:100%;
            height:100%;
            border-radius:100px;
            position:absolute;
            top:0px;
            left:0px;
          }
          
          .tool {
            opacity:0;
            background-size:70%;
            background-color: #009999;
            background-size:60%;
            &:hover{
              background-size:70%;
              background-color: #1D7373;
            };
          }
          
          span {font-size: 22px;}
        }
        
        &.origin_true {
          background: #0B61A4;
          
          .set_origin {
            display: none;
          }
        }
        
        .remove {
          top:30px;
          right:30px;
          background-image: url("/assets/rubify_languages/remove.png");
        }
        
        .setting {
          top:30px;
          left:30px;
          background-image: url("/assets/rubify_languages/setting.png");
        }
        
        .set_origin {
          top:30px;
          left:50%;
          margin-left: -15px;
          background-image: url("/assets/rubify_languages/key-white.png");
        }
        
        .tool {
          position:absolute;
          width: 30px;
          height: 30px;
          z-index:1;
          border-radius:50px;
          border:2px solid #fff;
          opacity:0;
          transition:all 0.3s;
          -moz-transition:all 0.3s;
          -webkit-transition:all 0.3s;
          background-color: #3e94d1;
          background-position: center;
          background-repeat: no-repeat;
          background-size:60%;
          &:hover {
            background-size:70%;
            background-color: #0D58A6;
          };
        }
        
        span {
          text-align:center;
          width:90%;
          height: 25px;
          line-height: 22px;
          float:left;
          overflow:hidden;
          margin: 40px 5% 10px;
          font-size: 20px;
          color:#fff;
        }
        p {
          text-align:center;
          width:100%;
          float:left;
          font-size: 28px;
          color:#fff;
        }
        h5 {
          display:none;
          text-align:center;
          width:100%;
          float:left;
          font-size: 14px;
          color:#fff;
        }
        h4 {
          display:none;
          position:absolute;
          width:100%;
          text-align:center;
          bottom:12px;
          left:0px;
          font-size:20px;
          color:#fff;
          opacity:0.4;
        }
      }
      
      .item_box {
        float:left;
        width: 96%;
        height: auto;
        min-height:40px;
        border:1px solid #ccc;
        padding: 14px 2% 10px;
        margin: 0px 0px 30px 0px;
        position:relative;
        background: #fff;
        transition: height 1s;
        -moz-transition: height 1s;
        -webkit-transition: height 1s;
        font-size:14px;
        line-height:18px;
        
        &:hover {
          .btn {display:block;}
          .code {display:none;}
//          h2 {display:block;}
        };
        
        &.wait {
          .waiting {display: block;}
          .btn {display: none;}
          .index {display: none;}
          .code {display:none;}
        }
        
        .index {
          position:absolute;
          left: 10px;
          top: -13px;
          z-index:4;
          font-size:30px;
          color:rgba(0,0,0,0.1);
          background:#fff;
          padding: 3px;
          border-radius:3px;
          
          &::after{
            content: "";
            width:100%;
            height:19px;
            display:block;
            box-shadow: 0px -1px 1px #aaa;
            position:absolute;
            border-radius:3px;
            top: -5px;
            left:0px;
            z-index:-1;
            background:#fff;
          }
        }
        
        .code {
          position:absolute;
          right: 10px;
          top: -13px;
          z-index:4;
          font-size:15px;
          color:rgba(0,0,0,0.1);
          background:#fff;
          padding: 3px;
          border-radius:3px;
          
          &::after{
            content: "";
            width:100%;
            height:19px;
            display:block;
            box-shadow: 0px -1px 1px #aaa;
            position:absolute;
            border-radius:3px;
            top: -5px;
            left:0px;
            z-index:-1;
            background:#fff;
          }
        }
        
        .btn {
          position:absolute;
          right: 10px;
          top: -13px;
          z-index:4;
          font-size:30px;
          color:rgba(0,0,0,0.15);
          background:#fff;
          padding: 3px 8px;
          border-radius:3px;
          text-decoration:none;
          display: none;

          &:hover {
            color:rgba(0,0,0,0.4);
          };
          
          &::after{
            content: "";
            width:100%;
            height:19px;
            display:block;
            box-shadow: 0px -1px 1px #aaa;
            position:absolute;
            border-radius:3px;
            top: -5px;
            left:0px;
            z-index:-1;
            background:#fff;
          }
          
          &.btn_delete {right: 90px;}
          
          &.btn_cancel {right: 105px;}
        }
        
        h2 {
          float:left;
          width:100%;
          margin-top:10px;
          color:#bcbcbc;
          display:none;
        }
        
        .edit {
          width:100%;
          float:left;
          display:none;
          
          span {
            width:96%;
            margin:3px 2% 0px 2%;
            float:left;
          }
        }
        
        .show {
          float:left;
          width:100%;
          display: block;
          
          span {
            width:96%;
            margin:3px 2% 0px 2%;
            float:left;
          }
        }
        
        .waiting{
          display:none;
          z-index:11;
          position: absolute;
          left:0px;
          top:0px;
          width:100%;
          height:100%;
          background: rgba(0,0,0,0.8);
        }
        
        &.update {
          .edit {
            display: block;
          }
          .show {
            display: none;
          }
        }
        
        textarea {
          float:left;
          width: 100%;
          height:200px;
          resize:none;
          margin:5px 0px;
          padding: 5px 10px;
          font-size:13px;
          font-family:Tahoma, Arial;
          box-sizing:border-box;
          -moz-box-sizing:border-box;
          -webkit-box-sizing:border-box;
        }
      }
    }
    
    .footer {
      float:left;
      margin: 0px auto;
      width:100%;
      height: 80px;
      bottom:0px;
      border-top: 1px solid #fff;
    }
  }
  
  .popup {
    display:none;
    width: 500px;
    height:auto;
    min-height: 200px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:3px;
    float:left;
    padding: 10px 0px;
  }

  form {
    width:100%;
    float:left;
  
    .title {
      float:left;
      width:100%;
      text-align:center;
      margin: 10px 0px;
      font-size: 15px;
    }
  
    .row {
      width:100%;
      float:left;
      height:auto;
      min-height: 40px;
      padding: 3px 20px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    
      label {
        float:left;
        width: 70px;
        line-height:25px;
        font-size:15px;
        text-align:right;
        margin-right:10px;
      }
    
      input {
        float:left;
        width:365px;
        padding: 5px 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
    
      textarea {
        width: 365px;
        height: 80px;
        resize:none;
        padding: 5px 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }
      
      select {
        float:left;
        width:365px;
      }
      .wSelect-theme-classic.wSelect {
        width: 365px !important;
      }
      .wSelect-options-holder {
        width: 365px !important;
      }
    }
  
    input[type="submit"] {
      width: 130px;
      margin: 5px auto;
      margin-top:20px;
      display:block;
    }
  }
  
  #notification {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#fff;
    text-align:center;
    line-height:40px;
    height:0px;
    font-size: 14px;
    text-shadow: 1px 1px 1px #333;
    background: rgba(0,0,0,0.5);
    transition: height 1s, background 1s;
    -webkit-transition: height 1s, background 1s;
    -moz-transition: height 1s, background 1s;
    z-index:10000;
    
    &.success {
      background: rgba(100,255,0, 0.4);
      height:40px;
    }
    &.error {
      background: rgba(255,0,0,0.4);
      height:40px;
    }
  }
}